/*--------------------------------------------------------------------------*/

/* Font */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

/*--------------------------------------------------------------------------*/

/* Color Pallete */

:root {
    --main: #639A58;
    --mainTransl: #639a5833;
    --mainDarker: #284d21;
    --white: #F1F1F1;
    --gray1: #262626;
    --gray2: #201E1E;
    --gray3: #161616;
    --placeholder: #63635d;
    --grayTransl: #75756b80;
}

/*--------------------------------------------------------------------------*/

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--white);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}
input {
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 20px;
    font-family: 'Red Hat Display', sans-serif;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-family: 'Red Hat Display', sans-serif;
}

/*--------------------------------------------------------------------------*/

/* General */

html {
    font-size: 62.5%;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--gray1);
    color: var(--white);
}
::selection {
    background-color: var(--mainDarker);
    color: var(--white);
}
::-webkit-scrollbar {
    width: 0px;
}

/*--------------------------------------------------------------------------*/

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 80vh;
    padding: 2.2rem;
    max-width: 912px;
    min-width: 270px;
    border-radius: 8px;
    background-color: var(--gray2);
    box-shadow: 3px 3px 10px #000000;
    transition: all .2s;
}

/* Header */
main .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    padding: 0 .4rem;
}
main .container header strong {
    color: var(--main);
}
main .container header button {
    width: 50%;
    background-color: var(--gray1);
    border-radius: 20px;
    color: var(--main);
    padding: 0.8rem 1.5rem;
    min-width: 80px;
    max-width: 100px;
    box-shadow: 2px 2px 3px var(--gray3);
}
main .container header button i {
    font-size: 1.55rem;
}
main .container header button:hover {
    background-color: var(--mainTransl);
    color: var(--white);
    transition: all 0.3s ease;
}

/* Chat Box */
main .container .chatBox {
    height: 80%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
main .container .chatBox .message {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 180px;
    background-color: var(--mainTransl);
    border-radius: 10px;
    padding: .8rem 1.6rem;
    font-size: 1.4rem;
    margin-top: 1rem;
}
main .container .chatBox .message .username {
    color: var(--main);
    font-weight: 800;
    margin-bottom: 3px;
}

/* New Message */
main .container .new-message {
    width: 100%;
    display: flex;
    gap: .8rem;
}
main .container .new-message input {
    width: 100%;
    background-color: var(--gray1);
    border-radius: 20px;
    padding: 1.1rem 2rem;
    font-size: 1.5rem;
    box-shadow: 2px 2px 3px var(--gray3);
}
main .container .new-message button {
    min-width: 4.2rem;
    min-height: 4.2rem;
    border-radius: 50%;
    color: var(--main);
    background-color: var(--gray1);
    box-shadow: 2px 2px 3px var(--gray3);
}

/*--------------------------------------------------------------------------*/

/* Modal */

@keyframes fall {
    from {
        opacity: 0;
        transform: translate3d(0, -40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

dialog {
    border: none;
    margin: auto;
    text-align: center;
    padding: 2rem;
    background-color: var(--gray3);
    border-radius: 10px;
    box-shadow: 2px 2px 8px #0e0e0e;
    width: 90%;
    max-width: 300px;
    min-width: 270px;
    animation: fall .15s;
    outline: none;
    z-index: 5000;
}  
dialog input {
    width: 100%;
    background-color: var(--gray2);
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
}
dialog .title {
    color: var(--white);
    margin-bottom: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
} 
dialog button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    background-color: var(--main);
    color: var(--white);
    transition: background-color 0.3s ease;
} 
dialog button:hover {
    background-color: var(--mainDarker);
}
  
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(0.1px);
    display: none;
    z-index: 4000;
}

/*--------------------------------------------------------------------------*/

/* Responsive */

@media (max-width: 425px) {
    html {
        font-size: 50%;
    }
}

/*--------------------------------------------------------------------------*/